body{
	background: #363434;
}

header{
	background: #37b3c9;
}

.modal-header,.modal-footer{
	background: orange;
	color: white;
}

.modal-body{
	background: #363434;
	color: white;
}

#tiempo, #puntuacion, #nivel{
	color: white;
	font-size: 1.5em;
}