body {
  background-color: black;
}
header div.breadcrumb-item {
  font-weight: bold;
  position: relative;
}

/* Todos los objetos tendrán estas características en común */
div#bolsa, div#estrella, div#botella, div#seta {
	cursor: pointer;
	background-color: green;
	opacity: 0;
	position: absolute;
}

/* Objeto bolsa */
div#bolsa {
	width: 25px;
	height: 35px;
	top: 41.5%;
	left: 69%;
}

@media screen and (max-width: 992px) {
  div#bolsa {
    width: 15px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  div#bolsa {
  	left: 69%;
    width: 12px;
    height: 21px;
  }
}

@media screen and (max-width: 400px) {
  div#bolsa {
    left: 68%;
    width: 10px;
    height: 14px;
  }
}

/* Objeto botella */
div#botella {
	width: 43px;
	height: 21px;
	top: 60%;
	right: 8.8%;
}

@media screen and (max-width: 992px) {
  div#botella {
    width: 35px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  div#botella {
    width: 24px;
    right: 9.5%;
    height: 12px;
  }
}

@media screen and (max-width: 400px) {
  div#botella {
    right: 11%;
    width: 18px;
    height: 9px;
  }
}

/* Objeto estrella */
div#estrella {
	width: 38px;
	height: 27px;
	top: 14%;
	left: 27.5%;
}

@media screen and (max-width: 992px) {
  div#estrella {
  	left: 28%;
    width: 26px;
    height: 22px;
  }
}

@media screen and (max-width: 600px) {
  div#estrella {
  	left: 28.5%;
    width: 16px;
    height: 15px;
  }
}

@media screen and (max-width: 400px) {
  div#estrella {
    width: 14px;
    height: 10px;
  }
}

/* Objeto seta */
div#seta {
	width: 42px;
	height: 27px;
	top: 74.2%;
	left: 6.5%;
}

@media screen and (max-width: 992px) {
  div#seta {
  	left: 7%;
    width: 33px;
    height: 20px;
  }
}

@media screen and (max-width: 600px) {
  div#seta {
  	left: 7%;
    width: 30px;
    height: 16px;
  }
}

@media screen and (max-width: 400px) {
  div#seta {
    left: 9%;
    width: 16px;
    height: 9px;
  }
}