body{
}
.fondo{
	min-width: 1150px;
	max-height: 650px;
	z-index: -99999;
	position: absolute;

}
#pregunta{
	color: white;
	position: relative;
	text-align: center;
	margin-bottom: 25%;
}

#respuestas{
	position: relative;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

.respuesta{
	color: white;
	text-align: center;
	border: white solid 4px;
	margin-right: auto;
	margin-left: auto;
}

.info{
	position: absolute;
	min-width: 250px;
	max-height: 250px;
}

