/* pantalla */
/*section{
	z-index: -1;
	margin-left: 5%;
	margin-right: 5%;
}*/
#foto{
	position: absolute;
	opacity: 0.5;
	cursor: pointer;
	top: 55%;
	left: 7%;
	width: 35px;
	height: 35px;
	background-color: black;
	}
/*Tablet*/
@media screen and (max-width: 992px) {
	#foto{
		top: 53%;
		left: 7%;
	}
}

/*movil pequeño */
@media screen and (max-width: 600px) {
 
#foto{
	top: 53%;
	left: 6%;
	}
}

@media screen and (max-width: 400px) {
 
#foto{
	top: 52%;
	left: 10%;
	width: 15px;
	height: 15px;
	}
}

/*@media screen and (max-width: 992px) {
  #foto{

	top: 27%;
	left: 7%;
	}
}

@media screen and (max-width: 600px) {
  #foto{
	top: 27%;
	left: 7%;
	}
}

@media screen and (max-width: 400px) {
  #foto{
	top: 27%;
	left: 7%;
	}
}*/



